In [ ]:
Importando bibliotecas necessárias

In [75]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
Importando os dados para o dataset de um arquivo arquivo csv importado pela função nativia read_csv presente
na blioteca pandas.

In [79]:
names_training = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Class']
names_testing = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10']
training = pd.read_csv("./training.csv", names=names_training)
testing = pd.read_csv("./testing.csv", names=names_testing)

In [61]:
training.head()

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10       Class
0   1   4   2   2   1   1   2   3   1    2   Sonserina
1   4   2   3   1   3   4   1   2   4    3  Grifinoria
2   2   1   4   3   4   3   3   4   3    4    Corvinal
3   3   3   1   4   2   2   4   1   2    1   Lufa-lufa

In [80]:
testing.head()

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10
0   1   2   4   4   2   2   1   4   2    1
1   3   1   3   3   4   1   1   4   1    2
2   3   4   2   1   3   1   3   4   3    1
3   2   3   4   4   2   3   3   2   1    1
4   4   4   1   1   4   2   1   2   2    1

In [114]:
X_train = training.iloc[:, :-1].values
Y_train = training.iloc[:, 10].values
X_test = testing.iloc[:, :].values
Y_test = testing.iloc[:, 3].values 
print(X_train)

[[1 4 2 2 1 1 2 3 1 2]
 [4 2 3 1 3 4 1 2 4 3]
 [2 1 4 3 4 3 3 4 3 4]
 [3 3 1 4 2 2 4 1 2 1]]

In [108]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [109]:
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [110]:
Y_pred = classifier.predict(X_test)

In [112]:
print(confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

ValueError: Found input variables with inconsistent numbers of samples: [4, 10]

In [76]:
for i in range(10):
    print(str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4))+","+str(random.randint(1,4)))

1,2,4,4,2,2,1,4,2,1
3,1,3,3,4,1,1,4,1,2
3,4,2,1,3,1,3,4,3,1
2,3,4,4,2,3,3,2,1,1
4,4,1,1,4,2,1,2,2,1
4,4,4,4,2,3,2,4,3,3
3,1,2,4,2,1,1,2,3,3
3,1,1,2,1,2,2,2,3,2
3,4,3,4,1,4,1,1,1,2
3,1,2,1,3,1,1,4,2,3

In [ ]:
https://amagiadeharrypotter.wordpress.com/as-4-casas-de-hogwarts/